
html { max-height: 100%; overflow:auto; }
body { max-height: 100%; }

body {
	margin: 0px;
	padding: 0px;
	background: #00000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

h1, h2, h3 {
	margin-top: 0px;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 170%;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}


strong {
}

a {
	color: #A5C35C;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
	padding-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER MENU IFRAME */
#header_menu_iframe {
  width: 100%;
  height: 500px;
  margin: 0px auto;
}

/** HEADER */

#header {
	width: 100%;
	height: 500px;
	margin: 0px auto;
	/**background: url(images/banner.jpg) no-repeat left top;*/
	background-size: cover;
}

/** LOGO */

#logo {
	width: 960px;
	height: 80px;
	margin: 0px auto;
	text-transform: uppercase;
}

#logo h1 a {
	display: block;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	font-size: 36px;
}

#logo p {
	margin: -28px 0px 0px 5px;
	padding: 0px;
	font-size: 12px;
}

#logo a {
	text-decoration: none;
}

/** MENU */

#menu {
	width: 960px;
	height: 48px;
	margin: 0px auto;
	background: url(images/img03.jpg) no-repeat left top;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 32px;
	margin: 0px 0px 0px 0px;
	padding: 16px 25px 0px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background: #000000;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .first a {
	background: #000000 url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}
#menu .sencond a {
	background: #000000 url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}

#menu .third a {
	background: #000000 url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}
#menu .fourth a {
	background: #000000 url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}

#menu .fiveth a {
	background: #000000 url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}
#menu .sixth a {
	background: #000000 url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}

#menu .seventh a {
	background: #000000 url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}
#menu .eighth a {
	background: #000000 url(images/img04.jpg) no-repeat left top;
	color: #FFFFFF;
}

/** PAGE */

#page {
	width: 960px;
	margin: 0px auto;
	padding: 30px 0px 10px 0px;
}

/** CONTENT */

#content {
	float: left;
	width: 610px;
	padding-right: 30px;
	/*background: url(images/img06.jpg) repeat-y right top;*/
}

#content2 {
	float: left;
	width: 80%; /* peggy - program content width*/
	padding-right: 30px;
	/*background: url(images/img06.jpg) repeat-y right top;*/
}


/** SIDEBAR */

#sidebar {
	float: right;
	width: 300px;
  height: 1800px;
}

#sidebar h2 {
	padding: 0px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 18px;
}

#sidebar li ul {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 20px 0px;
}

#sidebar li li {
	padding: 0px 0px 5px 0px;
}

#sidebar p {
	margin: 0px 0px 20px 20px;
}

/** POST */

.post {
	margin-bottom: 20px;
	background: url(images/img05.jpg) repeat-x left bottom;
}

.post .title {
	margin: 0px;
	padding-bottom: 10px;
	letter-spacing: -1px;
}

.post .title_1 {
	margin: 0px;
	padding-bottom: 10px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	color: #000000;
}


.post .meta {
	display: block;
	margin-top: -15px;
	padding: 5px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	padding: 10px 0px 10px 0px;
}

/** FOOTER */

#footer {
	width: 960px;
	margin: 0px auto;
	background: url(images/img05.jpg) repeat-x left top;
}

#footer p {
	margin: 0px;
	padding: 20px 0px 20px 0px;
	text-align: center;
	font-size: 11px;
}

#footer a {
	color: #000000;
}
